<!-- -->
<launch>
  <node unless="$(arg sim)" pkg="rslidar_sdk" name="rslidar_sdk_node" type="rslidar_sdk_node" output="screen" >
  </node>

    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="world_name" default="$(find velodyne_description)/world/example.world"/>

    <!-- Start gazebo and load the world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch" >
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="gui" value="$(arg gui)"/>
      <arg name="headless" value="$(arg headless)"/>
      <arg name="debug" value="$(arg debug)"/>
      <arg name="verbose" value="$(arg verbose)"/>
      <arg name="world_name" value="$(arg world_name)"/>
    </include>

    <arg name="gpu" default="false"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rslidar_sdk)/config/urdf/example.urdf.xacro' gpu:=$(arg gpu)" />
    <node if="$(arg sim)" pkg="gazebo_ros" type="spawn_model" name="spawn_model" args="-urdf -param /robot_description -model example"/>
    <node if="$(arg sim)" pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="30.0" />
    </node>

  <node pkg="rosbag" type="record" name="rosbag_record_rslidar"
        args="record -o $(env HOME)/.ros/rslidar /odom /tf_static /tf /scan /rslidar_points"/>
  <!-- rviz-->
  <!-- <node pkg="rviz" name="rviz" type="rviz" args="-opengl 210 -d $(find rslidar_sdk)/rviz/rviz.rviz" /-->
</launch>
