<!-- -->
<launch>
  <node pkg="rslidar_sdk" name="rslidar_sdk_node" type="rslidar_sdk_node" output="screen">
  </node>

  <include file ="$(find rslidar_sdk)/launch/record.launch">
  </include>

  <!-- rviz-->
  <!-- <node pkg="rviz" name="rviz" type="rviz" args="-opengl 210 -d $(find rslidar_sdk)/rviz/rviz.rviz" /-->
</launch>
